.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: rgb(176, 84, 32);
    position: absolute;
    bottom: 0;
}

.footer-item-ico{
    color: #fff;
    padding: 0 10px;
}