/*desktop*/
.presentation__main{
    display: flex;
    justify-content: space-around;
    height: 600px;
    position: relative;
    background: linear-gradient(55.02deg, #352728 50%, #8E5D52 50%);
}

.presentation__main--title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 40%;
}

.presentation__main--title--reactImg{
    width: 300px;
    height: 300px;
    animation: rise 1.5s ease-in-out forwards,rotate 10s linear infinite;
    animation-delay: 3s;
    opacity: 0;
}

.presentation__main--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
}

.presentation__main--content--title__text{
    font-size: 28px;
}

.presentation__main--content--title__cursor{
    font-size: 28px;
}

.presentation__main--content--paragraph{
    width: 100%;
}


/*Animações*/
@keyframes rise{
    0%{
        margin-bottom: -250px;
        opacity: 0;
    }
    50%{
        margin-bottom: 250px;
        opacity: 1;
    }
    100%{
        margin-bottom: 0;
        opacity: 1;
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}